
//custom Media Query
@mixin custom-mediaqueries
{
    color: white;
    font-size: 38px;
    margin: 4.5px;
    
}

@mixin nav-hide
{
    display: none !important;
}

@mixin icon-hide
{
    display: none !important;
}

@mixin icon-cart-custom
{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}