//IMPORT THE GOOGLE FONTS HERE
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;700&family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

// Define the style Here
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

h1 {
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
}

// Add more typography styles as needed
